# Files to ignore
Code/llamaParseKey.py

# Folders to ignore
venv/*
ai/preprocessing/venv/*
ai/vector-databases/milvus/*
ai/vector-databases/faiss/*
ai/vector-databases/weaviate/*
ai/embeddings/*
ai/rag/*

# Except
!ai/embeddings/Code
!ai/embeddings/Code/*
!ai/rag/Code
!ai/rag/Code/*
