# Files to ignore
Code/llamaParseKey.py

# Folders to ignore
venv/*
ai/vector-databases/milvus/*
ai/vector-databases/faiss/*
ai/vector-databases/weaviate/*
ai/vector-databases/faiss-cosine/*
ai/embeddings/*
ai/finetuning/faiss-training-7-granite3.1-dense_2b/epochresults/*
ai/finetuning/faiss-training-7-granite3.1-dense_2b/baseoutput/*
ai/finetuning/faiss-training-7-granite3.1-dense_2b/merged/*
ai/finetuning/faiss-training-7-granite3.1-dense_2b/finaloutput/*
ai/finetuning/faiss-training-7-granite3.1-dense_2b/epochresults-2/*
ai/finetuning/faiss-training-7-granite3.1-dense_2b/baseoutput-2/*
ai/finetuning/faiss-training-7-granite3.1-dense_2b/merged-2/*
ai/finetuning/faiss-training-7-granite3.1-dense_2b/finaloutput-2/*
ai/finetuning/faiss-training-7-granite3.2_2b/epochresults/*
ai/finetuning/faiss-training-7-granite3.2_2b/baseoutput/*
ai/finetuning/faiss-training-7-granite3.2_2b/merged/*
ai/finetuning/faiss-training-7-granite3.2_2b/finaloutput/*
ai/finetuning/faiss-training-7-granite3.2_2b/epochresults-2/*
ai/finetuning/faiss-training-7-granite3.2_2b/baseoutput-2/*
ai/finetuning/faiss-training-7-granite3.2_2b/merged-2/*
ai/finetuning/faiss-training-7-granite3.2_2b/finaloutput-2/*
ai/results/*

# Except
!ai/embeddings/Code
!ai/embeddings/Code/*
