# Files to ignore
Code/llamaParseKey.py

# Folders to ignore
venv/*
ai/preprocessing/venv/*
ai/vector-databases/milvus/*
ai/vector-databases/faiss/*
ai/vector-databases/weaviate/*
ai/vector-databases/faiss-cosine/*
ai/embeddings/*
ai/finetuning/faiss-training-7-granite3.1-dense_2b/results/*
ai/finetuning/faiss-training-7-granite3.2_2b/results/*

# Except
!ai/embeddings/Code
!ai/embeddings/Code/*
